.content {
  display: grid;
  grid-template-columns: minmax(600px, 1fr);
  justify-content: center;

  .inline-html {
    width: fit-content;
    justify-self: center;
  }

  h1, h2, h3, h4, h5 {
    text-align: center;
  }

  .item-panel-title {
    gap: 8px;
  }

  .panel-content {
    background-color: var(--mat-sys-surface-container);
    color: var(--mat-sys-on-surface-variant);
    border-radius: var(--mat-sys-corner-small);

    h3 {
      padding-block: 1em;
      margin-block: 0;
    }

    h5 {
      padding-block: 1.67em;
      margin-block: 0;
    }
  }
}
