.content {
  display: grid;
  grid-template-columns: minmax(600px, 1fr);
  justify-content: center;

  .inline-html {
    width: fit-content;
    justify-self: center;
  }

  h1, h2, h3, h4, h5 {
    text-align: center;
  }

  .item-panel-title {
    gap: 8px;
  }
}
