@if (this.bossfightDataLoading()) {
  <div class="app-loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    <h1>we loadin...</h1>
  </div>
} @else {
  <mat-toolbar class="mat-on-surface-variant">
    <mat-form-field appearance="outline">
      <mat-select [(ngModel)]="this.selectedBossfight" [value]="this.selectedBossfight()">
        <mat-select-trigger class="bossfight-data-render">
          @let bossfight = this.selectedDocumentRecord();
          @if (!!bossfight) {
            <ng-container *ngTemplateOutlet="bossfightOptionContent; context: {$implicit: bossfight}" />
          }
        </mat-select-trigger>

        @for (data of (this.bossfightData() ?? []); track data?.id) {
          <mat-option class="bossfight-data-render" [value]="data.id">
            <ng-container *ngTemplateOutlet="bossfightOptionContent; context: {$implicit: data}" />
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="spacer"></div>
  </mat-toolbar>

  <!--<shiki-render-component [code]="this.bossfightData() | json" lang="json"/>-->
  <!--<shiki-render-component [code]="this.userData() | json" lang="json"/>-->

  <div class="content-container">
    @if (!!this.selectedDocumentRecord()) {
      @let documentRecord = this.selectedDocumentRecord()!;
      <bossfight-render-component [documentRecord]="documentRecord"></bossfight-render-component>
    }
  </div>
}

<ng-template #bossfightOptionContent let-data>
  <span class="bossfight-data-wrapper">
    <img [src]="data.icon ?? 'images/missing_icon.png'" alt="" />
    {{ data.title }}
  </span>
</ng-template>
